$color--black: #000000;
$color--white: #fff;

html,
body
{
	background-color: $color--white;
}

body {
	.webgl {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 0;
	}
}

.section
{
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: 'Cabin', sans-serif;
    color: $color--black;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
	z-index: 10;
	h1, h2 {
		z-index: 20;
	}
	#image {
		z-index: 20;
		top: 0;
	}
	#click {
		cursor: pointer;
	}
}

section:nth-child(odd)
{
    justify-content: flex-end;
}